


<br>

<br>

<br>

<br>

<center>
	<div class="container-fluid"> 
		<header class="jumbotron">
			<div class="container"> 
				<h2>safety system</h3>
			</div>
		</header>
  <a href="/solider"> SOLIDER </a></button>
  

<br>

<br>

<br>

<br>

 <a href="/terrorist"> TERRORIST </a></button>
	</div>
</center>

